@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* ===========================
Text - General
============================ */
h1 {
  text-shadow: 3px 3px 4px rgba(0,0,0,0.63);
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(35deg, #646E77, #9FACB8);
}
ul,ol,p {
  font-size: 1.5rem;
}
li,p {
  line-height: 1.5;
}
.Description {
  font-size: 1rem;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
/* ===========================
Text - Header and Nav Bar
============================ */
header {
  background: linear-gradient(35deg, #797E83, #BCC7D1);
  color: hsl(0, 0%, 86%);
  box-shadow: 4px 8px 7px #888888;
  font-family: 'Montserrat', sans-serif;
}
nav {
  background-color: hsl(0, 0%, 50%);
}
#headerName {
  text-indent: 10px;
  padding-top: 10px;
}
nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}
nav li {
  display: inline;
  margin-right: 20px;
}
/* ===========================
Text - Footer
============================ */
.text-center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.copy-left {
    display: inline-block;
    text-align: right;
    margin: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: “FlipH”; }
}
/* ===========================
Links, Pictures, and Media
============================ */
a {
  text-decoration: none;
  color: inherit;
}
a.google:hover {
    color:#4885ED
}
a.orcid:hover {
    color:#A6CE39
}
a.resgate:hover {
    color:#00CCBB
}
.MediaList {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.Media {
  color: hsl(233, 72%, 37%);
}
.Media:hover {
  color: hsl(50, 72%, 49%);
}
.Media:active {
  color: Black;
}
.ProfileImage {
  position: static;
  margin: auto;
  margin-left: 5%;
  margin-right: 2%;
  width: 225px;
  height: 225px;
  border-color: black;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
  float: left;
}
.Links {
  position: static;
  margin: auto;
  margin-left: 5%;
}
.PermLinks {
  position: static;
  margin: auto;
  margin-left: 3%;
  margin-right: 3%;
}
/* ===================================
Publications Page
==================================== */
.pub-content {
    background:transparent;
    position:relative;
    margin-left:60px;
    padding:40px 60px 0px 0px;
}
.pub-content h3 {
    margin-bottom: 10px;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
