<style>
  body {
    background: black;
    color: white;
  }
  h1 {
    text-shadow: 0 6px 6px rgba(0,0,0,0.23);
    font-weight: 300;
  }
  .profile {
    --picture-frame: white;
    position: static;
    margin: auto;
    margin-top: 5%;
    margin-left: 5%;
    width: 300px;
    height: 300px;
  }
  a {
  color: white;
  }
  a:hover {
color: blue;
  }
</style>
