<style>
  h1 {
    text-shadow: 3px 3px 4px rgba(0,0,0,0.63);
    font-weight: 300;
  }
  h2 {
    text-decoration: underline;
  }
  .ProfileImage {
    position: static;
    margin: auto;
    margin-top: 5%;
    margin-left: 5%;
    width: 300px;
    height: 300px;
    border-color: black;
    border-width: 4px;
    border-style: outset;
    border-radius: 50%;
  }
  .Image {
    position: static;
    margin: auto;
    margin-left: 5%;
    width: 50px;
    height: 50px;
    border-color: black;
    border-width: 2px;
    border-style: outset;
    border-radius: 50%;
  }
  header {
    background: linear-gradient(35deg, #797E83, #BCC7D1);
    color: hsl(0, 0%, 86%);
    box-shadow: 4px 8px 7px #888888;
  }

  nav {
    background-color: hsl(0, 0%, 50%);
  }

  #headerName {
    text-indent: 10px;
    padding-top: 10px;
  }

  nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
  }

  nav li {
    display: inline;
    margin-right: 20px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
</style>
